main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
main > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(206, 204, 204);
    width: 70vw;
    padding: 50px 0px;
    box-shadow: 8px 8px 30px  rgba(0,0,0,0.1);
    border-radius: 0.5%;
}
main > section > h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
}
main > section > p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    
}
.CrustSize {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CrustSize > h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
}
.CrustSize > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.CrustSize > div > div > label {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.4em;
}
/* Sauce Styling */
.Sauce {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Sauce > h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
}
.Sauce > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Sauce > div > div > label {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}
/* Cheese & Toppings Styling */
.CheeseToppings {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CheeseToppings > h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
}
.CheeseToppings > div {
    display: flex;
    gap: 10px;
}

.CheeseToppings > div > div > label {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}
.OrderButton > button {
    width: 6vw;
    height: 4vh;
    font-size: 1.4em;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 700;
    letter-spacing: 1px;
    background-color: rgb(80, 116, 184);
    border-radius: 7px;
    color: white;
    border: none;
    margin-top: 20px;

}
/* Pizza Description  */
.PizzaDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 10px;
}
.PizzaDescription > p {
    margin: 5px 0px;
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
}